<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/templates/<%= template %>.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="carta">
    <h1><%= titulo %></h1>
    <p><%= conteudo %></p>
    <p class="remetente">De: <%= remetente %></p>
    <p class="remetente">Feito com <a href="">ForYou</a></p>
  </div>
</body>
</html>